@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2 class="display-4">Лабораторные работы по курсу :</h2>
    <h3 class="display-4">Разработка веб - приложений с использованием ASP.NET Core MVC</h3>
    <p>Ссылка на проект на github: <a href="https://github.com/Shipastic/CoinWeb">Project ASP.NET Core for course by Specialist</a>.</p>
    <p>Ссылка на тесты на github : <a href="https://github.com/Shipastic/CoinWeb.Test">Test ASP.NET Core for course by Specialist</a>.</p>
</div>
